.brightcove-container {
  position: relative;
  width: 100%;
  padding: 0 0 56.25% 0;

  background-color: $primary-low;

  .icon-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: $font-up-5;
  }
}
.video-js {
  height: 100%;
  width: 100%;
  position: absolute;
}

body.crawler {
  .brightcove-container {
    background-color: transparent;
    height: 150px;
    width: 300px;
    line-height: 10;
    padding: 0;
    text-align: center;
    border: 3px solid $primary-low;

    &:before {
      line-height: normal;
      display: inline-block;
      width: 100px;
      height: 100px;
      vertical-align: middle;
      content: url("data:image/svg+xml;base64,PHN2ZyBhcmlhLWhpZGRlbj0idHJ1ZSIgZGF0YS1wcmVmaXg9ImZhcyIgZGF0YS1pY29uPSJmaWxtIiBjbGFzcz0ic3ZnLWlubGluZS0tZmEgZmEtZmlsbSBmYS13LTE2IiByb2xlPSJpbWciIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDUxMiA1MTIiPjxwYXRoIGZpbGw9ImN1cnJlbnRDb2xvciIgZD0iTTQ4OCA2NGgtOHYyMGMwIDYuNi01LjQgMTItMTIgMTJoLTQwYy02LjYgMC0xMi01LjQtMTItMTJWNjRIOTZ2MjBjMCA2LjYtNS40IDEyLTEyIDEySDQ0Yy02LjYgMC0xMi01LjQtMTItMTJWNjRoLThDMTAuNyA2NCAwIDc0LjcgMCA4OHYzMzZjMCAxMy4zIDEwLjcgMjQgMjQgMjRoOHYtMjBjMC02LjYgNS40LTEyIDEyLTEyaDQwYzYuNiAwIDEyIDUuNCAxMiAxMnYyMGgzMjB2LTIwYzAtNi42IDUuNC0xMiAxMi0xMmg0MGM2LjYgMCAxMiA1LjQgMTIgMTJ2MjBoOGMxMy4zIDAgMjQtMTAuNyAyNC0yNFY4OGMwLTEzLjMtMTAuNy0yNC0yNC0yNHpNOTYgMzcyYzAgNi42LTUuNCAxMi0xMiAxMkg0NGMtNi42IDAtMTItNS40LTEyLTEydi00MGMwLTYuNiA1LjQtMTIgMTItMTJoNDBjNi42IDAgMTIgNS40IDEyIDEydjQwem0wLTk2YzAgNi42LTUuNCAxMi0xMiAxMkg0NGMtNi42IDAtMTItNS40LTEyLTEydi00MGMwLTYuNiA1LjQtMTIgMTItMTJoNDBjNi42IDAgMTIgNS40IDEyIDEydjQwem0wLTk2YzAgNi42LTUuNCAxMi0xMiAxMkg0NGMtNi42IDAtMTItNS40LTEyLTEydi00MGMwLTYuNiA1LjQtMTIgMTItMTJoNDBjNi42IDAgMTIgNS40IDEyIDEydjQwem0yNzIgMjA4YzAgNi42LTUuNCAxMi0xMiAxMkgxNTZjLTYuNiAwLTEyLTUuNC0xMi0xMnYtOTZjMC02LjYgNS40LTEyIDEyLTEyaDIwMGM2LjYgMCAxMiA1LjQgMTIgMTJ2OTZ6bTAtMTY4YzAgNi42LTUuNCAxMi0xMiAxMkgxNTZjLTYuNiAwLTEyLTUuNC0xMi0xMnYtOTZjMC02LjYgNS40LTEyIDEyLTEyaDIwMGM2LjYgMCAxMiA1LjQgMTIgMTJ2OTZ6bTExMiAxNTJjMCA2LjYtNS40IDEyLTEyIDEyaC00MGMtNi42IDAtMTItNS40LTEyLTEydi00MGMwLTYuNiA1LjQtMTIgMTItMTJoNDBjNi42IDAgMTIgNS40IDEyIDEydjQwem0wLTk2YzAgNi42LTUuNCAxMi0xMiAxMmgtNDBjLTYuNiAwLTEyLTUuNC0xMi0xMnYtNDBjMC02LjYgNS40LTEyIDEyLTEyaDQwYzYuNiAwIDEyIDUuNCAxMiAxMnY0MHptMC05NmMwIDYuNi01LjQgMTItMTIgMTJoLTQwYy02LjYgMC0xMi01LjQtMTItMTJ2LTQwYzAtNi42IDUuNC0xMiAxMi0xMmg0MGM2LjYgMCAxMiA1LjQgMTIgMTJ2NDB6Ij48L3BhdGg+PC9zdmc+");
    }
  }
}
