.brightcove-container {
  position: relative;
  width: 100%;
  padding: 0 0 56.25% 0;

  background-color: $primary-low;

  .icon-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6em;
  }
}
.video-js {
  height: 100%;
  width: 100%;
  position: absolute;
}
